name: JS CI

on:
  workflow_dispatch:

jobs:

  scan-project-with-snyk:
    uses: kkoles/workflows-examples/.github/workflows/js_snyk_scan.yml@main
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  scan-project-with-npm-audit:
    uses: kkoles/workflows-examples/.github/workflows/js_npm_audit_scan.yml@main
    with:
      NODE_VERSION: 14.x
    secrets:
      GITHUB_TOKEN_FOR_ISSUE_CREATION: ${{ secrets.GH_READONLY_TOKEN }}

  test-project-with-selenium:
    uses: kkoles/workflows-examples/.github/workflows/js_selenium_test.yml@main
    with:
      NODE_VERSION: 14.x
